[submodule "papers/Paper"]
	path = papers/Paper
	url = https://github.com/asinghvi17/celegans-model-paper
[submodule "papers/IPoLS poster"]
	path = papers/IPoLS poster
	url = https://github.com/asinghvi17/IPoLS-poster
